{% extends "base.html" %}
{%block content%}
    <header>
        <div class="container">
            <div class="wrapper_header">
                <p class="admin_logged">{{login}}</p>
                <a href="/declare" class="menu_text">Обьявление</a>
    <a href="/" class="exit"><img src="{{ url_for('static', filename='img/exit.svg') }}" alt="" class="icon_white"></a>
            </div> 
        </div>
    </header>
    <h1 class="title_page">Персонал</h1>
    <div class="block_people">
        {% for i in people%}
        <div class="card_people">
            <p class="number">№{{people.index(i)+1}}</p>
            <p class="date_register">{{i[2]}}</p>
            <p class="id">id: {{i[0]}}</p>
            <p class="username">username: {{i[1]}}</p>
            {% for c in course%}
            {% if c[0] == i[0] %}
            <div class="course_list">
                <p>Pizzamaker: {{c[1]}}</p>
                <p>Manager: {{c[2]}}</p>
                <p>Teacher: {{c[3]}}</p>
                <p>Cassier: {{c[4]}}</p>
                <p>Safety: {{c[5]}}</p>
                <p>Company: {{c[6]}}</p>
            </div>
            {%endif%}
        {%endfor%}
    </div>
        {%endfor%}
    </div>
{%endblock%}