*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
input
{
    font-family: 'Inter', sans-serif;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    border:#202020 1px solid;
    margin: 10px 0;
}
input:focus
{
    outline: 0;
}
.title_page{
    color: #282e81;
    font-size: 36px;
    margin-bottom: 40px;
    font-variant-caps:titling-caps;

}
body
{   background-color: #202020;
    font-family: 'Inter', sans-serif;
}
.auth_panel
{   margin: auto auto;
    max-width: 500px;
    padding: 100px 0;
    background-color: #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.card_people{
    background-color: #fff;
    border-radius: 15px;
    padding: 50px 30px;

}
.number{
    font-size: 20px;
}
.date_register
{
    margin: 0 0 10px 0;
}
.username
{
    font-size: 24px;
    font-weight: 700;
}
.block_people
{
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 50px;
    border-radius: 30px;
    padding: 30px;
    background-color: #282e81;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.admin_logged{
    color: #202020;
    font-size: 30px;
}
.exit{
    color: #202020;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70px;
}
header{
    background-color: #fff;
    width: 100%;
}
.icon_white{
    color: #202020;
    width: 30px;
    height: 30px;
}

.wrapper_header{
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}