*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
input
{
    font-family: 'Inter', sans-serif;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    border:#202020 1px solid;
    margin: 10px 0;
}
input:focus
{
    outline: 0;
}
.title_page{
    color: #282e81;
    font-size: 36px;
    margin-bottom: 40px;
    font-variant-caps:titling-caps;

}
body
{   background-color: #a5a5a5;
    font-family: 'Inter', sans-serif;
}
.auth_panel
{   margin: auto auto;
    max-width: 500px;
    padding: 100px 0;
    background-color: #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.card_people{
    background-color: #fff;
    border-radius: 15px;
    padding: 50px 30px;
    margin-left: 10px;

}
.number{
    font-size: 20px;
}
.date_register
{
    margin: 0 0 10px 0;
}
.username
{
    font-size: 24px;
    font-weight: 700;
}
.block_people
{
    display: flex;
    align-items: start;
    justify-content: start;
    margin: 60px 0;
    border-radius: 30px;
    padding: 20px 15px;
    height: 900px;
    background-color: #282e81;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    background-color: #e2e2e2;
    padding-bottom: 100px;  
}
.menu_text:hover{
    transition: 0.3s ease-in-out;
    border-bottom: 1px solid #202020;
}
.menu_text{
    transition: 0.3s ease-in-out;
    padding-bottom: 5px;
    color: #202020;
}
.admin_logged{
    color: #202020;
    font-size: 30px;
}
.submit_b{
    background-color: #fff;
}
.exit:hover{
    transform: scale(0.9);
}
.exit{
    transition: 0.3s ease-in-out;
    color: #202020;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70px;
}
header{
    width: 100%;
    margin-bottom: 100px;
}
.title_input{
    width: 200px;
    margin-bottom: 20px;
}
.panel_message{
    padding: 30px 0 100px 0;
    display: flex;
    flex-direction: column;
}
.icon_white{
    color: #202020;
    width: 30px;
    height: 30px;
}
.subbutton{
    margin-top: 20px;
    width: 200px;
}
textarea:focus
{
    outline: 0;
}
textarea{
    padding: 20px;
    border-radius: 15px;
    resize: none;
}
.text_input{
    
    text-align: left;
}
.wrapper_header{
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}